html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 660px;
}

.header {
  text-align: center;
  background-color: #6943ff;
  padding: 2em 4em;
  width: 100%;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#input-el {
  margin: 0.5em 0;
  text-align: center;
  font-size: 3.5em;
  color: white;
  background: linear-gradient(#6943ff, #6943ff) padding-box,
    linear-gradient(90deg, #1cb5e0 0%, #000851 100%) border-box;
  background-clip: padding-box, border-box;
  outline: none;
  border: 3px solid transparent;
  width: 100%;
  max-width: 120px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 0.2em;
  font-weight: bolder;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  color: #3d3d3d;
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.9em 1.8em;
  border: none;
  font-weight: bold;
  border-radius: 0.2em;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.results {
  background-color: #1f2937;
  width: 100%;
  color: white;
  padding: 0 2em;
  margin: 0 auto;
  text-align: center;
}

.box {
  width: 100%;
  padding: 1.5em 1.5em;
  margin: 2em auto;
  background-color: #273549;
}

h3 {
  color: #ccc1ff;
  font-size: 1.3rem;
  margin-bottom: 0.5em;
  font-weight: 500;
}
